<!--
  <div ng-app='myApp'>
    <div class="container" ui-view></div> -->


<div class="jumbotron">
  <div class="container" ui-view>
    <div class="col-xs-offset-2 col-xs-8 main">
      <form class="form" name="loginForm" novalidate="" >
        <div class="form-group form-group-lg">
          <label for="">Email</label>
          <input type="email" name="email" value="" class="form-control input-lg" ng-model='user.email' required="true">
        </div>

        <div class="form-group form-group-lg">
          <label for="">Password</label>
          <input type="password" name="password" value="" class="form-control input-lg" ng-model='user.password' required="true">
        </div>

        <div class="form-group form-group-lg">
          <!-- <input value="Log In" class="btn btn-info btn-lg text-center" type="submit"/> -->
          <button  class="btn btn-info btn-lg text-center" type="submit" ng-click="vm.login()">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
